//
   Created by a on 9/17/2015.

div(ng-controller="LogInCtrl")
   form(name="Login", ng-submit="login()")
      //input(type="hidden" name="_csrf" value="{{ csrf_token }}")
      div
         label(for="username") Username:
            input(type="text", name="username", ng-model="user.username", ng-required="true")
      //div
         label(for="email") Email:
            input(type="email", name="email", ng-model="user.email", ng-required="true")
      div
         label(for="password") Password:
            input(type="password", name="password", ng-model="user.password", ng-required="true")
      div
         input(type="submit", value="Save")