//
   Created by a on 9/17/2015.

div()
   form(name="SignUp", ng-submit="vm.signup()")
      //input(type="hidden" name="_csrf" value="{{ csrf_token }}")
      div
         label(for="username") Username:
            input(type="text", name="username", ng-model="vm.user.username", ng-required="true")
      div
         label(for="email") Email:
            input(type="email", name="email", ng-model="vm.user.email", ng-required="true")
      div
         label(for="password") Password:
            input(type="password", name="password", ng-model="vm.user.password", ng-required="true")
      div
         label(for="firstname") First name:
            input(type="text", name="firstname", ng-model="vm.user.firstname", ng-required="false")
      div
         label(for="lastname") Last name:
            input(type="text", name="lastname", ng-model="vm.user.lastname", ng-required="false")
      div
         input(type="submit", value="Save")