//
   Created by a on 11/14/2015.
div(ng-hide="vm.currentQuestion===null")
   | Value input
   label Add multivalued?
     input(type="checkbox", ng-model="vm.currentQuestion.valueOptionsIsMultivalued")
   div(ng-hide="vm.currentQuestion.valueOptionsIsMultivalued")
      label Text field
         input(type="radio", name="UIType", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="text")
      label Select list
         input(type="radio", name="UIType", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="select")
      label Radio button
         input(type="radio", name="UIType", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="radio")
      label Checkbox
         input(type="radio", name="UIType", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="checkbox")
      label Star rating
         input(type="radio", name="UIType", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="star")
      label() Text area
         input(type="radio", name="UIType", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="textArea")

   div(ng-show="vm.currentQuestion.valueOptionsIsMultivalued")
      label Multiple text field
         input(type="radio", name="UITypeM", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="text")
      label Multi select list
         input(type="radio", name="UITypeM", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="select")
      label Multirow radio buttons
         input(type="radio", name="UITypeM", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="radio")
      label Multiple checkboxes
         input(type="radio", name="UITypeM", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="checkbox")
      label Multiple Star ratings
         input(type="radio", name="UITypeM", ng-model="vm.currentQuestion.valueOptionsValueUIType", value="star")
   div
      input(class="imageToolButton", type="image", id="editPageButton",
            ng-click="vm.editValueOptions()", src="/css/icons/tool.png")
      input(class="imageToolButton", type="image", id="addPageButton",
            ng-click="vm.removeValueOptions()", src="css/icons/trash.png")
