//
   Created by a on 11/14/2015.

div()
   input(type="button", ng-click="vm.addNew()", value="Add new")
   input(type="button", ng-click="vm.editExisting()", value="Edit existing")
   | SurveyCreateDirectiveTest
   survey-creator(domain-data='One')

