//
   Created by a on 10/4/2015.
//
   Created by a on 9/17/2015.
div(ng-controller="SurveyCreateCtrl")
   p aaaaaaa
   form(name="Survey", ng-submit="commitChanges()")
      div(class="pure-g-r")
         div(class="pure-u-1-6")
            include ./surveyCreateNavigator.jade
         div(class="pure-u-5-6")
            div(ng-show="currentlyEditing === ''")
               include ./surveyDisplay.jade
            div(ng-show="currentlyEditing !== ''")
               include ./surveyElementEditor.jade
