//
   Created by a on 11/14/2015.
| AAAAAAAAAAAAAA
form(name="Survey")
   div(class="pure-g-r")
      div(class="pure-u-1-6")
         include ./surveyCreateNavigator.jade
      div(class="pure-u-5-6")
         div(ng-show="vm.currentlyEditing === ''")
            include ./surveyDisplay.jade
         div(ng-show="vm.currentlyEditing !== ''")
            include ./surveyElementEditor.jade
