extends layout

block body
  div(ng-app="myApp", ng-strict-di)
    div(ng-controller='ApplicationController')
      h2 Hello {{name}}
      ul.menu
        li
          a(href='view1') view1
        li
          a(href='view2') view2
        li
          a(href='sortableTable') sortable table
        li
          a(href='restaurant') Restaurants
        li
          a(href='signup') Sign up
        li
          a(href='userProfile') User profile
        li
          a(href='login') Login
        li
          a(href='svgDiagram') SvgDiagram
        li
          a(href='autoCompleteTest') autoCompleteTest
        li
          a(href='surveyCreate') surveyCreate
        li
          a(href='surveyCreateDirectiveTest') surveyCreateDirective

  div(ng-view, ng-strict-di)

    div(id="AppWrapperDIV", ng-controller="ToggleController")
        div(ng-show="!isDataReady()")
          | {{dataReady}}
          | Waiting input
        div(ng-show="isDataReady()")
          | {{dataReady}}
          | Input Done.
    div(ng-controller='ApplicationController')
        | Angular seed app: v
        span(app-version)

  script(src="/bower_components/lodash/lodash.js")
  script(src="/bower_components/angular/angular.js")
  script(src="/bower_components/angular-resource/angular-resource.js")
  script(src="/bower_components/angular-route/angular-route.js")
  script(src="/bower_components/d3/d3.js")
  script(src="/js/app.js")
  script(src="/js/services.js")
  script(src="/js/controllers.js")
    // Note that autoComplete.js depends on controllers.js
  script(src="/js/autoComplete.js")
  script(src="/js/directives/autoCompleteDirective.js")
  script(src="/js/directives/surveyCreateDirective.js")
  script(src="/js/userControllers.js")
  script(src="/js/toggleController.js")
  script(src="/js/sortableTableController.js")
  script(src="/js/surveyCreateCtrl.js")
  script(src="/js/SurveyCreateDirectiveTestController.js")
  script(src="/js/svgDiagramController.js")
  script(src="/js/filters.js")
  script(src="/js/directives/directives.js")
  script(src="/js/directives/starRatingDirective.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-sanitize.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular-rangy.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.4.6/textAngular.min.js")
  script(src="/js/onLoad.js")
